ul{
    display:flex;
    justify-content:flex-end;
    
}

.logo{
    display: flex;
    align-items: center;

}

.menu{
    margin-right: 150px;
}

li{
    padding: 5px;
    
}

img{
    margin-top: 20px;
    margin-left: 30px;
    height: 150px;
    width: 150px;
}

.dudas {
    width: 180px;
    height: 50px;
    background-color: rgba(0, 132, 255, 0.806);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .info{
    width: 180px;
    height: 50px;
    background-color: rgba(0, 132, 255, 0.806);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.inicio{
    margin-left: 30px;
    font-size: 14px;
}

 