
body{
    color: #6E6E6E;
    background-color: #fafafa;
}

.seccion_inicio{
    background-color: #D9D9D9;
    height: 100vh;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 100px;
}

.logo{
    display: flex;
    align-items: end;
    gap: 20px;
}


.menu ul{
    display: flex;
    gap: 20px;
}

.menu ul li{
    cursor: pointer;
}

.menu ul li a:hover{
    color: #00B2E3;
}


.inicio{
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 100px;
}

.botones{
    display: flex;
    gap: 50px;
}

.botones button{
    padding: 15px;
    background-color: #00B2E3;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.seccion_cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    
}

.seccion_cursos h1{
    width: 100%;
    justify-content: start;
    font-size: 50px;
    font-weight: bold;
    padding: 100px 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(4,250px);
    gap: 20px;
}

.card{
    display: flex;
    align-items: end;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(img/TÉCNICO_SUPERIOR_EN_DESARROLLO_DE_APLICACIONES_MULTIPLATAFORMA.png);
    background-size: cover;
}

.card:nth-child(2){
    grid-row: span 2;
    background-image: url(img/TÉCNICO_SUPERIOR_EN_INTEGRACIÓN_SOCIAL.png);
    background-size: cover;
}

.card:nth-child(3){
    grid-column: span 2;
    background-image: url(img/TÉCNICO_SUPERIOR_EN_ADMINISTRACIÓN_Y_FINANZAS.png);
    background-size: cover;
}

.card:nth-child(4){
    background-image: url(img/TÉCNICO_SUPERIOR_EN_EDUCACIÓN_INFANTIL.png);
    background-size: cover;
}

.card:nth-child(5){
    background-image: url(img/TÉCNICO_SUPERIOR_EN_ACONDICIONAMIENTO_FÍSICO.png);
    background-size: cover;
}

.card:nth-child(6){
    grid-column: span 2;
    background-image: url(img/TÉCNICO_SUPERIOR_EN_DIRECCIÓN_DE_COCINA.png);
    background-size: cover;

}