ul{
    display:flex;
    justify-content:flex-end;
    
}

.menu{
    margin-right: 50px;
}

li{
    padding: 5px;
    
}

img{
    margin-top: 20px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
}